@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
	margin: 0;
	display: block;
}

.text{
	margin: 20px;
	max-width: 1000px;
	line-height: 150%;
}

.article{
	margin: 20px;
	max-width: 800px;
	line-height: 150%;
}

h1,h2,h3,p {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 2.5em;
	font-weight: lighter;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
	color:#da5c18;
}

h3 {
	font-size: 1em;
	color:#646464;
}

p {
	font-size: 1em;
}

.footer {
	color: gray;
	line-height: 120%;
	padding-bottom: 20px;
}

.pic {
	display: block;
	max-width: 800px;
	line-height: 20%;
}

.highlight {
	font-weight: bold;
}

.imgbox {
	/*display: inline-block;*/
	float: left;
    width: 240px;
    height: 240px;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.new {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 65px;
	height: 65px;
	background-image: url("new-label.png");
}

.afterbox {
	clear:left;
	padding-top: 10px;
}

.clickbox {
	width: 240px;
	height: 240px;
	margin: auto;
}

.button {
    background-color: #da5c18;
    border: none;
    color: white;
    padding: 0px 54px;
    margin: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#roughball {
    background-image: url("../roughball/img/roughball_1.jpg");
}

#blackball {
    background-image: url("../blackball/img/blackball_1.jpg");
}

#softball {
    background-image: url("../softball/img/squeezeball_24.jpg");
}

#hollowfabric {
    background-image: url("../hollowfabric/newimage1/fabric1_19.jpg");
}

#brush {
    background-image: url("../brush/imgl/brushl_21.jpg");
}

#carpet {
    background-image: url("../carpet/img/carpet_25.jpg");
}

#presscushion {
    background-image: url("../presscushion/img/pcushion_38.jpg");
}

#squeezecushion {
    background-image: url("../squeezecushion/img/scushion_30.jpg");
}

#drawer {
    background-image: url("../drawer/img/drawerl_48.jpg");
    background-position: left;
}

#fabric1 {
    background-image: url("../fabric1/imgsc/cloth_38.jpg");
}

#fabric2 {
    background-image: url("../fabric2/imgsc/cloth c_36.jpg");
}

#jar {
    background-image: url("../jar/img/jar_19.jpg");
}

#lamp {
    background-image: url("../lamp/img/lamp_47.jpg");
}

#pen {
    background-image: url("../pen/img/pen_1.jpg");
}

#slipper {
    background-image: url("../slipper/img/slipper_31.jpg");
}

#sock {
    background-image: url("../sock/img/sock s_1.jpg");
}

.portrait {
	height: 100%;
	margin: auto;
	display: block;
}

.landscape {
	width: 100%;
	display: block;
	margin: auto;
}

